{% extends 'main.html' %}

{% block content %}
<div class="text-center mb-4"></div>
<div class="container" style="width: 40rem;">
  <div class="jumbotron">
    <div class="mb-4 text-center">
      <h5>Czy na pewno chcesz usunąć "{{post}}"?</h5>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm text-center">
          <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-block">
              Usuń
            </button>
          </form>


        </div>
        <div class="col-sm text-center">
          <a href="{% url 'posts' %}">
            <button type="submit" class="btn btn-secondary btn-block">
              Anuluj
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
