{% extends 'main.html' %}

{% block content %}
<div class="text-center mb-4"></div>
<div class="container" style="width: 30rem;">
  <div class="jumbotron">
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}

      <div class="mb-5 text-center">
        <h2>Logowanie</h2>
      </div>

      <div class="text-center mb-3">
        <p>Zaloguj się przez:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="bi bi-facebook"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="bi bi-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="bi bi-twitter"></i>
        </button>
      </div>

      <p class="text-center">lub:</p>


      <div class="mb-3">
        <label class="form-label">Login</label>
        <input type="text" name="username" placeholder='Login' class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Hasło</label>
        <input type="password" name="password" placeholder='Hasło' class="form-control">
      </div>
      <div class="text-center mb-3">
        <!-- <div class="col-md-6 d-flex justify-content-center">
          <div class="form-check mb-3 mb-md-0">
            <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked="">
            <label class="form-check-label" for="loginCheck"> Zapamiętaj mnie </label>
          </div>
        </div> -->

        <!-- <div class="col-md-6 d-flex justify-content-center"> -->
          <a href="#!">Zapomniałeś hasła?</a>
        <!-- </div> -->
      </div>

      <button type="submit" class="btn btn-primary btn-block mb-3">Zaloguj się</button>
    </form>

    <div class="text-center mb-5">
      <p>Nie masz konta? <a href="{% url 'register' %}">Zarejestruj się</a></p>
    </div>
  </div>
</div>

{% endblock content %}
