{% extends 'main.html' %}

{% block content %}
<div class="container p-5" style="width: 30rem;">
  <div class="jumbotron mb-0">
    <form action="{% url 'register' %}" method="POST">
      {% csrf_token %}

      <div class="mb-5 text-center">
        <h2>Rejestracja</h2>
      </div>

      {% for field in form %}
      <div class="mb-3">
        <label class="form-label">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
        <div class="form-text">{{field.help_text}}</div>
        {% endif %}
      </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary btn-block mb-3">Zarejestruj mnie</button>
    </form>
    <div class="text-center">
      <p>Masz już utworzone konto? <a href="{% url 'login' %}">Zaloguj się</a></p>
    </div>
  </div>
</div>
{% endblock content %}
