{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyPigeonHouse</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-item nav-link" href="{% url 'posts' %}">Posty</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="{% url 'profiles' %}">Użytkownicy</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="{% url 'districts' %}">Oddziały PZHGP</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-item nav-link" href="#">Wyniki lotów</a>
        </li>
        {% endif %}
      </ul>

      <div class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-item nav-link navbar-brand" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-plus-lg"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'create-pigeon' %}">Dodaj gołębia</a></li>
              <li><a class="dropdown-item" href="{% url 'create-post' %}">Dodaj post</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-item nav-link navbar-brand" href="{% url 'messages-view' %}">
              <i class="bi bi-chat"></i>
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-item nav-link navbar-brand" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'profile' request.user.profile.id %}">Moje konto</a></li>
              <li><a class="dropdown-item" href="{% url 'user-pigeons' %}">Moje gołębie</a></li>
              <li><a class="dropdown-item" href="{% url 'user-posts' %}">Moje posty</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'edit-profile' %}">Edytuj profil</a></li>
              <li><a class="dropdown-item" href="{% url 'change-password' %}">Zmień hasło</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout-page' %}">Wyloguj mnie</a></li>
            </ul>
          </li>
        </ul>

        {% else %}
        <a class="nav-item nav-link navbar-brand" href="{% url 'login' %}"><i class="bi bi-box-arrow-in-left"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
