{% extends 'main.html' %}

{% block content %}


<div class="container p-5 mb-0 text-center">
  <h1>Rodowód gołębia {{pigeon.number}}</h1>
  <a href="{% url 'generate-pdf' pigeon.id %}"><button type="button" class="btn btn-info">Generuj rodowód w pdf</button></a>
</div>
<div class="mb-5">
  <div class="row mb-0">
    <div class="col mb-0">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title mb-0"><a href="{% url 'pigeon' pigeon.id %}" class="link-dark">{{pigeon.number}}</a></h5>
        </div>
      </div>
    </div>
  </div>

  {% include 'pigeons/generations.html' with generations=parents generation_list_colors=generation_list_colors %}
  {% include 'pigeons/generations.html' with generations=grandparents generation_list_colors=generation_list_colors %}
  {% include 'pigeons/generations.html' with generations=greatgrandparents generation_list_colors=generation_list_colors %}
  {% include 'pigeons/generations.html' with generations=greatgreatgrandparents generation_list_colors=generation_list_colors %}

</div>

{% endblock content %}
